.container-fluid.header-home
			.container
				.col-md-6.home2
					ul.list-unstyled.list-inline
						li
							a(href="home.html")
								strong HOME
						li
							a(href="contact.html")
								strong CONTACT US
				.col-md-6
					.cart.pull-right
						center
							i.fa.fa-shopping-cart(aria-hidden="true") My Cart
							h5 2 item(s)-$244.00