head
		title Fashion-Accesories:.
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="assets/css/main.css")
		link(rel="stylesheet", href="assets/css/bootstrap.min.css")
		link(rel="stylesheet", href="assets/font-awesome/css/font-awesome.min.css")

		script(src="assets/js/jquery.js")
		script(src="assets/js/bootstrap.min.js")
	body
		.container-fluid.pie1
			.container
				.row
					.col-md-3.redes
						h5 ACCESORIES
						small Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<br>
						i.fa.fa-facebook
						i.fa.fa-twitter
						i.fa.fa-rss
						i.fa.fa-skype
						i.fa.fa-dribbble
					.col-md-2.lista-pie.lista-ub
						h5 MY ACCOUNT
						ul.list-unstyled
							li
								i.fa.fa-caret-right My Account
							li
								i.fa.fa-caret-right Order History
							li
								i.fa.fa-caret-right Wish List
							li
								i.fa.fa-caret-right Newsletter
					.col-md-2.lista-pie.lista-ub
						h5 INFORMATION
						ul.list-unstyled
							li
								i.fa.fa-caret-right About Us
							li
								i.fa.fa-caret-right Delivery Information
							li
								i.fa.fa-caret-right Privaci Policy
							li
								i.fa.fa-caret-right Terms & Conditions
					.col-md-2.lista-pie.lista-ub
						h5 EXTRAS
						ul.list-unstyled
							li
								i.fa.fa-caret-right Brands
							li
								i.fa.fa-caret-right Gitt Vouchers
							li
								i.fa.fa-caret-right Affiliates
							li
								i.fa.fa-caret-right Specials
					.col-md-3.lista-pie
						h5 ABOUT US
						.col-md-12
							.col-md-2
								ul.list-unstyled#lista-ub
									li
										i.fa.fa-map-marker
									li
										i.fa.fa-phone
									li
										i.fa.fa-envelope 
							.col-md-10#list-text
								ul.list-unstyled
									li 8901 Marmora Road Glasgow DO489<br> GR. New York
									li (0123)456789<br>(0987)654321
									li admin@bootexperts.com

		.container-fluid.pie2
			.container
				.row
					.col-md-5
						small Copyright © 2015 <span>BootExperts</span> All Rights reserved.
					.col-md-5
						img.pull-right(src="assets/images/payment.png")
					.col-md-2
						button.up
							i.fa.fa-chevron-up